.button-green {
    background-color: #38CC8B;
    border-radius: 8px;


    &__text {
        padding: 15px 43px 15px 43px;
        margin: 0;
        color: white;
        text-align: center;
    }
}