@use "../mixins/responsive.scss" as *;
.main {

  padding: 88px 24px 68px 24px;

  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    width: 1110px;
    margin-inline: auto;
  }
}
